@page "/"

@using PortalBlazor.Domain.Entity;
@inject HttpClient http
@inject NavigationManager navigation;
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var state = await authState;
        var user = state.User;

        if (user.Identity.IsAuthenticated)
        {
            navigation.NavigateTo("/");
            Console.WriteLine("usuario authenticado");
        }
        else
        {
            navigation.NavigateTo("/login");
            Console.WriteLine("usuario n autenticado");
        }
    }
}