@page "/user/create"
@using PortalBlazor.Domain.Entity;
@using PortalBlazor.Shared.Enum;
@using PortalBlazor.Shared.Models;
@inject HttpClient http;
@inject NavigationManager navigation;
<h3>New User</h3>


<MudGrid>
    <MudItem xs="12" sm="6" md="4">
        <MudTextField @bind-Value="@userInfo.Email" Label="Email" Variant="Variant.Text"></MudTextField>

    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudTextField @bind-Value="@userInfo.Password" InputType="InputType.Password" Label="Password" Variant="Variant.Text"></MudTextField>
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudSelect Margin="Margin.None" T="int" Label="Role" AnchorOrigin="Origin.BottomCenter" @bind-Value="userInfo.Role">
            <MudSelectItem Value="@((int)RoleEnum.Admin)">Admin</MudSelectItem>
            <MudSelectItem Value="@((int)RoleEnum.User)">User</MudSelectItem>
        </MudSelect>
    </MudItem>
</MudGrid>
<br />


<MudButton @onclick="CreateUserRequest" Size="Size.Small" Variant="Variant.Filled">Save</MudButton>

@code {
    UserInfo userInfo = new UserInfo();

    private async void CreateUserRequest()
    {
        await http.PostAsJsonAsync("api/login/register", userInfo);
        navigation.NavigateTo("/");
    }
}
